<table border="1">
  <tr>
    <td colspan="2">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td>
      <app-work-experience></app-work-experience>
    </td>
    <td>
      <h3>Me gusta..</h3>
        <ul>
          <li>Jugar Videojuegos</li>
          <li>Escuchar musica</li>
          <li>Tomar café</li>
        </ul>
      <h3>No me gusta</h3>
        <ul>
          <li>Hacer deportes</li>
          <li>Bailar</li>
        </ul>
      <h3>Informaciones adicionales</h3>
        <ul>
          <li>Soy de corea del sur</li>
          <li>Puedo hablar coreano, inglés y español</li>
          <li>Si no entiendo algo en español, háblame en inglés.</li>
        </ul>
        
    </td>
  </tr>
</table>